<div class="container">
    <div class="row justify-content-center">
        <div class="col col-4" @visibility>
            <div class="card">
                <img src="{{car.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{car.name}}</h5>
                    <p class="card-text">{{car.price}}</p>
                    <a (click)="goBack()" class="btn btn-primary">Go Back</a>
                </div>
            </div>
        </div>
    </div>
</div>