.btn-primary {
    background-color: white;
    border-color: #007bff;
    color: black;
  }
  
  .btn-warning {
    background-color: white;
    border-color: #ffc107;
    color: black;
  }
  
  .btn-danger {
    background-color: white;
    border-color: #dc3545;
    color: black;
  }
  
  .btn-primary:hover, .btn-warning:hover, .btn-danger:hover {
    background-color: #972467; 
  }
  .form-control {
    background-color: white;
    border-color: #007bff;
    color: black;
    width: 200px;
  }